{{ define "main" }}
<section class="section-sm">
  <div class="container">
    <div class="row justify-center">
      <div class="md:col-10 lg:col-7">
        <h2 class="h3 mb-6">{{ .Title }}</h2>
        <div class="content">{{ .Content }}</div>
      </div>
      <div class="flex justify-center">
        <a class="btn btn-primary mt-6 mr-3" href="https://oku.serdacom.com/download.html">
          Download
          <i class="fa fa-arrow-right pl-2"></i>
        </a>
        <a class="btn btn-primary mt-6" href="https://oku.lemonsqueezy.com/">
          Buy License
          <i class="fa fa-arrow-right pl-2"></i>
        </a>
      </div>
    </div>
  </div>
</section>
{{ end }}
